<body>
    <div class="pagecont">
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <a class="navbar-brand" href="#">XIGES STORE</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" routerLink='/welcomepage'>Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink='/signup_login'>SIGN UP/LOGIN</a>
                </li>
                
              </ul>
              
            </div>
          </nav>
    </div>
    <div class="container-fluid bg">
    
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12"></div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="pagebody">
                    <h2 style="text-transform: uppercase; text-align: center;">Xiges Store</h2>
                    <div class="startbtn" style="text-align: center;">
                        <button type="button" class="btn btn-outline-info btn-sm" style="text-transform: uppercase; text-align: center;"  routerLink='/shop-page'>Download Connectors</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12"></div>
        </div>
    </div>
          
</body>