body{
    background: url("/assets/img/wel1.png") center center;    
    /* opacity:0.8; */
    z-index: -1;
}
.pagebody{
    /* border: 1px solid; */
    padding: 50px 50px 50px 50px ;
    margin-top: 30vh;
    background-color: aliceblue;
    

    -webkit-box-shadow: -1px 6px 16px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 6px 16px 3px rgba(0,0,0,0.75);
    box-shadow: -1px 6px 16px 3px rgba(0,0,0,0.75);
}