
<body style="background-color:black">
    

<div class="container">
    
        
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a routerLink="/welcomepage" class="nav-link" role="tab" data-toggle="tab">Home</a>
        </li>
            <li class="nav-item">
                <a href="#signup" class="nav-link " role="tab" data-toggle="tab" aria-selected="true">Sign Up</a>
            </li>

            <li class="nav-item">
                <a href="#signin" class="nav-link" role="tab" data-toggle="tab">Login</a>
            </li>

        </ul>

        <div class="tab-content">
          <!-- <div role="tabpanel" class="tab-pane fade" id="signin">
            
              
        </div> -->
            <div role="tabpanel" class="tab-pane fade show active" id="signup">
                <div class="container-fluid bg">
    
                <div class="row">
                    
                    <div class="col-md-4 col-sm-4 col-xs-12 box" >

                        <form #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)" >
                          <h1 class="h3 mb-3 font-weight-normal">PLEASE SIGN UP</h1>
                            <div class="form-group row">
                                <label for="inputFName" class="col-sm-2 col-form-label" >First Name</label>
                                <div class="col-sm-10">
                                  <input type="text" class="form-control" id="fName" placeholder="First Name" name="firstname" ngModel  />
                                </div>
                            </div>
                            <div class="form-group row">
                              <label for="inputLName" class="col-sm-2 col-form-label">Last Name</label>
                              <div class="col-sm-10">
                                <input type="text" class="form-control" id="lName"  placeholder="Last Name" name="lastname"  ngModel  />
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                              <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputEmail3"  placeholder="Email" name="email"  ngModel />
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="inputJobTitle" class="col-sm-2 col-form-label">Job Title</label>
                              <div class="col-sm-10">
                                <input type="text" class="form-control" id="jobTitle"  placeholder="Job Title" name="jobTitle"  ngModel />
                              </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputLNumber" class="col-sm-2 col-form-label">Mobile Number</label>
                                <div class="col-sm-10">
                                  <input type="text" class="form-control" id="number"  placeholder="Mobile Number" name="contact" ngModel />
                                </div>
                            </div>
                            
                            <div class="form-group row">
                              <label for="inputPassword" class="col-sm-2 col-form-label" pla>Password</label>
                              <div class="col-sm-10">
                                <input type="password" class="form-control" id="inputPassword3"  placeholder="Password" name="password" ngModel  />
                              </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputConfirmPassword" class="col-sm-2 col-form-label">Password</label>
                                <div class="col-sm-10">
                                  <input type="password" class="form-control" id="confirmedPassword3"  placeholder="Confirm Password" name="confirm" ngModel />
                                </div>
                              </div>
                              <div>
                                <input type="checkbox" name="checkbox" value="check" id="agree" /> I have read and agree to the Terms and Conditions and Privacy Policy
                              </div>
                              <BR/>
                        
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <button type="reset" class="btn btn-outline-primary btn-sm btn-block" >Clear</button>
                                  </div>
                              <div class="form-group col-md-6">
                                <button type="submit" class="btn btn-outline-primary btn-sm btn-block" >SignUp</button>
                              </div>
                            </div>
                          </form>
                          
                    </div>
                </div>
            </div>
        </div>
            
            <div role="tabpanel" class="tab-pane fade" id="signin">
                <div class="container-fluid bg">
    
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12 box">
                            <form #userGet="ngForm" (ngSubmit)="onClick(userGet.value)" style="margin-left: 16px">
                              <h1 class="h3 mb-3 font-weight-normal">PLEASE SIGN IN</h1>
                                <div class="form-group row">
                                  <label for="exampleInputEmail1">Email address</label>
                                  <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" ngModel>
                                  
                                </div>
                                <div class="form-group row">
                                  <label for="exampleInputPassword1" >Password</label>
                                  <input type="password" class="form-control" name="password" id="exampleInputPassword1" ngModel>
                                </div>
                                <div>
                                  <input type="checkbox" name="checkbox" value="check" id="agree" /> I have read and agree to the Terms and Conditions and Privacy Policy
                                </div>
                                <BR/>
            
                                <button type="submit" class="btn btn-outline-primary btn-sm btn-block">Login</button>
                              </form>
                        </div>
                    </div>
                </div>
                  
            </div>
        </div>
    
  </div>
</body>
<!-- <script>
  angular.module('formExample', [])
    .controller('ExampleController', ['$scope', function($scope) {
      $scope.master = {};

      $scope.update = function(user) {
        $scope.master = angular.copy(user);
      };

      $scope.reset = function() {
        $scope.user = angular.copy($scope.master);
      };

      $scope.reset();
    }]);
</script> -->
