
.box{
    /* border: 1px solid; */
    padding: 20px 10px 10px 10px ;
    margin-top: 5vh;
    background-color: aliceblue;
    margin-left: 32%;
    

    -webkit-box-shadow: 0px 0px 2px 6px rgba(240,240,240,1);
    -moz-box-shadow: 0px 0px 2px 6px rgba(240,240,240,1);
     box-shadow: 0px 0px 2px 6px rgba(240,240,240,1);
}
.container{
    
    margin-top: 5vh;  
    width: 100%; 
    height: 100vh;
    max-width: 100%;
}
body{
    background: url("/assets/img/bg5.jpg") ;
}